<?xml version="1.0" encoding="UTF-8"?>
	  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.aunnie.questions">
 
  	<select id="selectAll" resultType="qdto">
	select 
	q_no, q_type, q_date, q_contents, a_contents, a_date, product_no, member_no, order_no
	 from QUESTIONS	order by q_date desc
	</select>
	<select id="selectOne" resultType="qdto" parameterType="int">
	select 
	q_no, q_type, q_date, q_contents, a_contents, a_date, product_no, member_no, order_no
	from QUESTIONS where q_no = #{q_no}
	</select>

	<insert id="insertOne" parameterType="qdto">
		insert into QUESTIONS
		values(seq_questions_no.nextval ,#{q_type}, sysdate, #{q_contents}, #{a_contents}, sysdate, #{product_no}, #{member_no}, #{order_no})
	</insert>
	
	<update id="updateOne" parameterType="qdto">
		update QUESTIONS
		set q_type = #{q_type}, q_contents = #{q_contents}, a_contents = #{a_contents}
		where q_no = #{q_no}
	</update>
  
	<delete id="deleteOne" parameterType="int">
		delete from QUESTIONS
		where q_no = #{q_no}
	</delete>
  
  </mapper>