@CHARSET "UTF-8";

body {
	font-family: "나눔스퀘어";
    background: white;
}

.container {
	margin: auto;
	width: 60%;
}
input[type=button] {
	outline: none;
	cursor: pointer;
}

input[type=text] {
	outline: none;
}

a {
	text-decoration: none;
	color: black;
}

ul li{
	  list-style:none;
}
a:hover, a:active {
color:#ec488c;
}

.menuIcon {
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}


select.ui.dropdown{
	font-size:0.9rem;
	height:30px;
}

#cardss{
	display:inline-block;
}


.header{
	color:pink;
}